.bg {
  position: absolute;
  inset: 0;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  align-items: center;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: radial-gradient(150% 150% at 50% 30%,#111 40%,var(--color-led) 100%);
}